html {
    box-sizing: border-box;
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
    display: grid;
    grid-template: 1fr 4fr / 1fr 4fr;
    grid-template-areas:
        "sidebar header"
        "sidebar main";
}

header {
    grid-area: header;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 25px;
}

.search-form, .options, .profile-container > a, .greeting-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

input[type="text"] {
    flex: 1;
    padding: 0.5em;
    background-color: rgb(228, 229, 245);
    border: none;
    border-radius: 25px;
}

input[type="text"]:focus {
    outline: 1px solid rgb(16, 20, 20)
}

a {
    text-decoration: none;
    color: inherit;
}

.avatar {
    width: 4rem;
    aspect-ratio: 1;
    border-radius: 50%;
}

.actions-container > button {
    font-size: 1em;
    font-weight: bold;
    padding: 0.75em 1.5em;
    color: white;
    background-color: blue;
    border: none;
    border-radius: 25px;
}

.sidebar {
    grid-area: sidebar;
    background-color: aqua;
}

main {
    grid-area: main;
    background-color: gray;
}