html {
    box-sizing: border-box;
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
    display: grid;
    grid-template: 1fr 4fr / 1fr 4fr;
    grid-template-areas:
        "sidebar header"
        "sidebar main";
}

header {
    grid-area: header;
    padding: 1rem 4rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
}

.img-btn {
    background: none;
    border: none;
}

.img-btn > * {
    display: block; /* button causes content to be inline-block by default -> causes miasmatch with image */
}

.search-form, .options-container, .profile-container, .greeting-container, .actions-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.options-container {
    justify-content: flex-end;
}

.actions-container {
    justify-content: space-between;
}

input[type="text"] {
    flex: 1;
    padding: 0.5em;
    background-color: rgb(228, 229, 245);
    border: none;
    border-radius: 25px;
}

input[type="text"]:focus {
    outline: 1px solid rgb(16, 20, 20)
}

a {
    text-decoration: none;
    color: inherit;
}

.avatar, .icon {
    aspect-ratio: 1;
    border-radius: 50%;
}

.medium {
    width: 4rem;
}

.small {
    width: 3rem;
}

.tiny {
    width: 2rem;
}

.actions-container > button {
    font-size: 1em;
    font-weight: bold;
    padding: 0.75em 2.25em;
    color: white;
    background-color: blue;
    border: none;
    border-radius: 25px;
}

.sidebar {
    grid-area: sidebar;
    display: grid;
    grid-template-rows: repeat(3, min-content);
    gap: 1rem;
    background-color: aqua;
}

li {
    list-style-position: inside; /* bullets exist outside content box without this line */
}

main {
    grid-area: main;
    display: grid;
    gap: 1rem;
    grid-template: 1fr 1fr / 2fr 1fr;
    grid-template-areas:
        "projects announcements"
        "projects trending";
    background-color: gray;
}

.projects-container {
    grid-area: projects;
    display: grid;
    gap: 1rem;
    grid-template: min-content / repeat(auto-fit, minmax(30ch, 1fr));
    background-color: antiquewhite;
}

.projects-container h3 {
    grid-column: 1 / -1;
}

.project-item {
    background-color: white;
    border-radius: 10px;
}

.announcements-container {
    grid-area: announcements;
    background-color: brown;
}

.trending-container {
    grid-area: trending;
    background-color: chartreuse;
}